.splash-screen{
    display: flex;
    flex-direction: column;
	font-family: Improv New Wide Nine Font;
}
.title{
    font-size: 10rem;
    margin: 150px;
}
/**/
.tlt{
    text-align: left;
    color: yellow;
    margin-top: 50px;
	margin-left: 150px;
    font-size: 4rem;
}

@font-face {
font-family: "Improv New Wide Nine Font";
src: url("../fonts/OPTIImprovNewWideNine.otf");
src: 
url("../fonts/OPTIImprovNewWideNine.otf") format("opentype");
}