.first-section{
    display: flex;
    flex-direction: column;
}
.first-section h1{
    font-size: 12rem;
    margin: 10%;
}
/**/
@keyframes motivation_sayings {
    0% {
        transform: translateX(-25%);
    }
    10% {
        transform: translateY(0%) translateX(0%);
    }
    25% {
        transform: translateY(-10%); color: #F4A460; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 0.5px #ffd, 0 0 1px #fff;
    }
    40% {
        transform: translateY(-0%); color: #F4A460; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 0.5px #ffd, 0 0 1px #fff;
    }
    55% {
        transform: translateY(-10%); color: #F4A460; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 0.5px #ffd, 0 0 1px #fff;
    }
    70% {
        transform: translateY(-0%); text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 0.5px #ffd, 0 0 1px #fff;
    }
    85% {
        transform: translateY(-10%); color: #FFFFFF; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 0.5px #ffd, 0 0 1px #fff;
    }
    100% {
        transform: translateY(-0%); color: #FFFFFF; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 0.5px #ffd, 0 0 1px #fff;
    }

}
.change_item{
    display: none;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,.1);
    animation: motivation_sayings 14s linear infinite;
    font-size: 6rem;
}